@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0; /* Remove default margin to avoid white space around the image */
    padding: 0; /* Remove default padding to avoid white space around the image */
    background-image:url('/bg.jpg'); /* Replace 'bg.jpg' with the actual image file name */
    background-size: cover; /* Scale the background image to cover the whole page */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
    /* Optionally, you can set other background properties like background-position, background-attachment, etc. */
  }  


  /* loader css */
  .custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#766DF4);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}